<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<app-meeting></app-meeting>
<app-navigate-slider></app-navigate-slider>
<app-daily-analitics></app-daily-analitics>
<app-start-traiding></app-start-traiding>
<app-market></app-market>
<app-payment-slider></app-payment-slider>
<app-contact></app-contact>
<!-- <router-outlet></router-outlet> -->
<app-footer></app-footer>
